<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/styles/styles.css">
    </head>
    <body>
        <script language="JavaScript">
            var i=[],img=[],j=[],a=[],main_div=[]
            for (i=1;i<=20;i++){

                main_div=document.createElement('div')
                main_div.className = "container";
                main_div.style.display="inline-block";
                main_div.style.position="relative";
                main_div.style.padding="40px 10px";
                main_div.style.width="100px";
                main_div.style.height="100px";



                //first input an image from gallery
                img=document.createElement('img');
                img.src= '/static/data/simplifed-data-only-oranges/1/IMG_6047.png'
                img.width=100;
                img.style.padding= "10px 10px 10px 10px";
                img.style.position="absolute";
                // img.style.display="inline-block";
    
    
                //second create a dropdown menu for this image
                var dropdown = document.createElement("div");
                dropdown.className="dropdown";
                var button = document.createElement("button");
                button.className='dropbtn';
                button.textContent="{{ df.loc[img_name.split('/')[-1],'class'] }}"
                dropdown.appendChild(button);
                var div=document.createElement("div");
                div.className="dropdown-content";
                for (j=1;j<=10;j++){
                    a=document.createElement('a');
                    a.setAttribute('href','/add/'+j.toString(10));
                    a.textContent=j.toString(10);
                    div.appendChild(a);
                }
                dropdown.appendChild(div);
                main_div.appendChild(dropdown);
                main_div.appendChild(img);
                document.body.appendChild(main_div);
            }
        </script>
    </body>
</html>
