<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/styles/styles.css">
    </head>
    <img src="{{ url_for('static', filename= img_name)}}">
    <div class="dropdown">
        <button class="dropbtn">{{ df.loc[img_name.split('/')[-1],'class'] }}</button>
        <div class="dropdown-content">
            <a href="/add/1">1</a>
            <a href="/add/2">2</a>
            <a href="/add/3">3</a>
            <a href="/add/4">4</a>
            <a href="/add/5">5</a>
            <a href="/add/6">6</a>
            <a href="/add/7">7</a>
            <a href="/add/8">8</a>
            <a href="/add/9">9</a>
            <a href="/add/10">10</a>
        </div>
    </div>
</html>
